{% extends 'base.html.twig' %}

{% block title %}Bienvenue dans RestoApp !
{% endblock %}

{% block body %}

	<div class="wrapper">
		{% include('navbar.html.twig') %}
		<h1>Bienvenue dans RestoApp !</h1>

	</div>
{% endblock %}
