{% extends 'base.html.twig' %}

{% block title %}Mon restaurant préféré !
{% endblock %}

{% block body %}
	<style>
        .grey-background {
			background-color: #A59FA3;
			color: rgba(75, 68, 68,0.6);
		}
	</style>

	<div class="wrapper">
		{% include('navbar.html.twig') %}
		<h1>Votre restaurant préféré !</h1>

        {{ form(form) }}
		
	</div>
{% endblock %}