{% extends 'base.html.twig' %}

{% block title %}Contact
{% endblock %}

{% block body %}
	<style>
		.grey-background {
			background-color: #A59FA3;
			color: rgba(75, 68, 68,0.6);
		}

		.flash-success {
			margin-top: 15px;
		}
	</style>

	<div class="wrapper">
		{% include('navbar.html.twig') %}

		{% for message in app.flashes('success') %}
			<div class="flash-success">
				{{ message }}
			</div>
		{% endfor %}

		<h1>Contact :</h1>

		{{ form(form) }}
	</div>

{% endblock %}
